<!DOCTYPE html>
<html lang="en" ng-app="test">
<head>
	<title>Block Directive</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6" ng-init="config = { disable: true, hide: false }">
				<h1>Options</h1>
				<div class="form-group">
					<label for="disable" class="form-label">Disable:</label>
					<input id="disable" type="checkbox" ng-model="config.disable">
				</div>
				
				<div class="form-group">
					<label for="hide" class="form-label">Hide:</label>
					<input id="hide" type="checkbox" ng-model="config.hide">
				</div>
			</div>
			<hr>
			<div class="col-md-offset-3 col-md-6">
				<h1>Form</h1>	
				<form block-disable='["input", "textarea"]' bd-disable="config.disable" bd-hide="config.hide">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email: {{email}}</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="email" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <div class="form-group">
				    <label for="textArea">Description</label>
				    <textarea class="form-control" id="textArea" rows="3"></textarea>
				  </div>

				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="../dist/block-directive.js"></script>
	<script>
		angular.module("test", ['riverjr.blockdisable']);
	</script>
</body>
</html>
